@font-face {
    font-family: "Ubuntu";
    src: url("../../font/Ubuntu-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

:root {
    --body-color-blue:#2A416B;
    --main-color-theme: #f3f3f3;
    --extra-backgroud-color: #DCDCDC;
    --blue-hedlines-theme: #213354;
    --rectangle-progress-scale-color:#CECECE;
    //green btn
    --button-bg-color: #008A16;
    --button-bg-hover-color: #00B21D;
    --button-bg-active-color: #006B11;
    //blue btn made move between tests. Must be deleted in the future!
    --bs-btn-bg: #213354;
    --dark-blue:#213354;
    --light-blue:#345185;
    //Anxiety
    --hover-a:#29b443;
    --hover-webkit:#0563bb;
    //header
    --nav-head:#45505b;
    --back-head:#f2f3f5;
    --nav-head-head:#fff;
    --back-head-head:#0563bb;
    --tog-i:#800001;
    --nav-tog-c-i:#345085;
    //Index
    --ind-x:#4a4646;
    //main cover
    --b-custom: #008a16;
    //main page tests
    --rg-color:rgba(75, 95, 116, 0.25);
    //page of tests
    --test-f:#b9b9b9;
    --content: #333;
    --dark-horse: #000;
    --card-bg-color: #eaeaea;
    //Form placeholder
    --bs-secondary-color: rgb(153, 153, 153, 0.75);
    //Modal-window
}

body {
    background-color: #E1D4C9;
    color: var(--body-color-blue);
    height: 100%;
}

// h1,
// h2{
//     color: var(--blue-hedlines-theme);
//     font-weight: bold;
//     text-align: center;
//     letter-spacing: 10px;
// }

// h5{
//     color: var(--blue-hedlines-theme);
//     font-weight: bold;
// }

// a{
//     color: var(--blue-hedlines-theme);
// }

.btn-green{
    background-color: var(--button-bg-color);
    border-radius: 10px;
}

.btn-green:hover{
    background-color: var(--button-bg-hover-color);
}
.btn-green:active{
    background-color: var(--button-bg-active-color);
}
button{
    border-color: transparent;
}

@include media-breakpoint-down(md){
    h1,
    h2{
        letter-spacing: normal;
    }
}
