<div class="container d-flex align-items-center justify-content-between mt-5 custom-color">
  <!-- Left: Logo -->
  <div class="logo">
    <img src="../images/logo.png" alt="logo" height="50">
  </div>

  <!-- Center: Menu -->
  <div class="d-flex gap-4 justify-content-center flex-grow-1 custom-color">
    <a href="#" class="text-decoration-none text-dark">Home</a>
    <a href="#" class="text-decoration-none text-dark">About</a>
    <a href="#" class="text-decoration-none text-dark">Menu</a>
    <a href="#" class="text-decoration-none text-dark">Contact</a>
  </div>

  <!-- Right: Second image or label -->
  <div class="logo">
    <a href="#" class="text-decoration-none text-dark">Menu</a>
  </div>
</div>




<!-- <section>
    <nav class="navbar custom-body">
    <div class="navbar-left">
    <img src="../images/logo.png" alt="Logo" class="logo">
    </div>

  <div class="navbar-center d-flex justify-content-center">
    <a href="#" class="nav-link">Home</a>
    <a href="#" class="nav-link">About</a>
    <a href="#" class="nav-link">Menu</a>
    <a href="#" class="nav-link">Contact</a>
  </div>
</section> -->