<section>
    <div class="container-fluid">
        <div class="row g-0">
            <img src="../img/cat-in-box.svg" width="300" height="300" alt="cat">
        </div>
        <div class="row g-0 mt-5">
            <h1>Упс...Что-то пошло не так.</h1>
        </div>
    </div>
    <div class="row g-0 justify-content-center mt-5">
        <a class="col-md-8  mt-1 btn-green
                                      text-decoration-none text-center text-uppercase
                                      text-white pt-2 pb-2 mb-5" href="../index.html"
            role="button">На главную</a>
    </div>
</section>